#summary{
    background-color: darkblue;
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
}
#name{
    width: 50%;
}
#cvv{
    width: 10%;
}
#table{
    background-color: rgba(38,136,205,0.18);
}